target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-launcher

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.built-jar-path

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Maven temporary distribution ###
.mvn/maven/
.mvn/temp/
.mvn/*.zip

### Python & Environment ###
__pycache__/
*.py[cod]
*$py.class
*.env
.env
.env.*
